<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      Credentials
    </p>
    <a class="card-header-icon" aria-label="toggle" (click)="hidden = !hidden">
      <span class="icon">
        <i class="fas fa-angle-down"></i>
      </span>
    </a>
  </header>

  <div id="credentials" class="card-content" [class.is-hidden]="hidden">
    <form [formGroup]="credentialsForm" (ngSubmit)="handleSubmit()">
      <div class="field">
        <label class="label">Password</label>
        <div class="control">
          <input myAwesomeError="input" [state]="getError('oldPswd')" name="oldPswd" type="password" placeholder="**********" formControlName="oldPswd" required minlength="6">
        </div>
        <p *ngIf="getError('oldPswd')" class="help is-danger">Password Error !</p>
      </div>

      <div class="field">
        <label class="label">New Password</label>
        <div class="control">
          <input myAwesomeError="input" [state]="getError('newPswd')" name="newPswd" type="password" placeholder="**********" formControlName="newPswd" required minlength="6">
        </div>
        <p *ngIf="getError('newPswd')" class="help is-danger">Password Error !</p>
      </div>

      <div class="field">
        <label class="label">Repeat Password</label>
        <div class="control">
          <input myAwesomeError="input" [state]="getError('repeatPswd', 'newPswd')" name="repeatPswd" type="password" placeholder="**********" formControlName="repeatPswd" required minlength="6">
        </div>
        <p *ngIf="getError('repeatPswd', 'newPswd')" class="help is-danger">Repeat Password Error !</p>
      </div>

      <div myRow>
        <div myColumn [size]="6">
          <button myButton color="success" [filled]="true" type="submit" [disabled]="!credentialsForm.valid">
            <strong>Save</strong>
          </button>
        </div>
        <div myColumn [size]="6">
          <button myButton color="danger" [filled]="true" (click)="handleClick()">
            <strong>Delete</strong>
          </button>
        </div>
      </div>
    </form>
  </div>

  <notification></notification>
</div>