<div>
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <div myRow>
          <div myColumn [size]="6" [offset]="3">
            <div class="control has-icons-right">
              <input class="input is-rounded" type="text" placeholder="Filter" [(ngModel)]="search">
              <span class="icon is-small is-right">
                <i class="fas fa-search"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div myRow *ngFor="let pizzas of getMatrix()">
        <div myColumn *ngFor="let pizza of pizzas">
          <div *ngIf="pizza" class="card">
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <img src="assets/icon.png" [alt]="pizza.label" />
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-4">{{ pizza.label }}</p>
                  <p class="subtitle is-6">{{ pizza.price.toFixed(2) }} €</p>
                </div>
              </div>
              <div class="content">
                {{ pizza.items.length }} Items...
              </div>
            </div>

            <footer class="card-footer">
              <a [routerLink]="['/pizza', pizza.id]" class="card-footer-item">
                Details
              </a>

              <div *ngIf="isRoot()" class="card-footer-item">
                <button myButton color="danger" [outlined]="true" (click)="handleClick(pizza)">
                  Remove
                </button>
              </div>
            </footer>
          </div>
        </div>
      </div>
    </div>
  </section>

  <notification></notification>
</div>
