<section class="section">
  <div class="container">
    <div myRow>
      <div myColumn [size]="6" [offset]="3">
        <div class="card">
          <div class="card-content">
            <form [formGroup]="loginForm" (ngSubmit)="handleSubmit()">
              <div class="field">
                <label class="label">Login</label>
                <div class="control">
                  <input
                    myAwesomeError="input"
                    [state]="getError('login')"
                    name="login"
                    type="text"
                    placeholder="Pickle"
                    formControlName="login"
                    required
                    minlength="4"
                    maxlength="32">
                </div>
                <p *ngIf="getError('login')" class="help is-danger">Login Error !</p>
              </div>

              <div class="field">
                <label class="label">Password</label>
                <div class="control">
                  <input
                    myAwesomeError="input"
                    [state]="getError('password')"
                    name="password"
                    type="password"
                    placeholder="**********"
                    formControlName="password"
                    required
                    minlength="6">
                </div>
                <p *ngIf="getError('password')" class="help is-danger">Password Error !</p>
              </div>

              <div myRow>
                <div myColumn [size]="6" [offset]="3">
                  <button myButton [lighten]="true" [filled]="true" type="submit" [disabled]="!loginForm.valid">
                    Login
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <notification></notification>
</section>
