<nav myNavBar [elevated]="elevated" [spaced]="spaced" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a routerLink="/" class="navbar-item">
        <img src="assets/logo.png" width="112" height="28" alt="PizzApp">
      </a>

      <a [myNavMenu]="['navbar-burger', 'burger']" [state]="active" role="button" aria-label="menu" aria-expanded="false" data-target="menu" (click)="active = !active">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="menu" myNavMenu="navbar-menu" [state]="active">
      <div *ngIf="isConnected" class="navbar-start">
        <a routerLink="/settings" class="navbar-item">
          <span class="icon">
            <i class="fas fa-user-secret"></i>
          </span>
          <span>Hello {{ firstName }}</span>
        </a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div *ngIf="isConnected; else buttonsView" class="buttons">
            <button myButton color="warning" (click)="handleClick()">
              <strong>Logout</strong>
            </button>
          </div>

          <ng-template #buttonsView>
            <div class="buttons">
              <a routerLink="/register" class="button is-primary">
                <strong>Register</strong>
              </a>

              <a routerLink="/login" class="button is-light">
                Login
              </a>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</nav>
