<section class="section">
  <div class="container">
    <div myRow>
      <div myColumn [size]="6" [offset]="3">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">
              {{ pizza.label }}
            </p>
            <a class="card-header-icon" aria-label="toggle" (click)="hidden = !hidden">
              <span class="icon">
                <i class="fas fa-angle-down"></i>
              </span>
            </a>
          </header>

          <div id="details" class="card-content" [class.is-hidden]="hidden">
            <div class="content">
              <table class="table is-hoverable">
                <tbody>
                  <tr *ngFor="let item of pizza.items">
                    <td>{{ item }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
