<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      Profile
    </p>
    <a class="card-header-icon" aria-label="toggle" (click)="hidden = !hidden">
      <span class="icon">
        <i class="fas fa-angle-down"></i>
      </span>
    </a>
  </header>

  <div id="profile" class="card-content" [class.is-hidden]="hidden">
    <form [formGroup]="profileForm" (ngSubmit)="handleSubmit()">
      <div class="field">
        <label class="label">Email</label>
        <div class="control">
          <input myAwesomeError="input" [state]="getError('email')" name="email" type="email" placeholder="rick.sanchez@pm.me" formControlName="email" required>
        </div>
        <p *ngIf="getError('email')" class="help is-danger">Email Error !</p>
      </div>

      <div class="field">
        <label class="label">First Name</label>
        <div class="control">
          <input myAwesomeError="input" [state]="getError('firstName')" name="firstName" type="text" placeholder="Rick" formControlName="firstName" required minlength="2" maxlength="16">
        </div>
        <p *ngIf="getError('firstName')" class="help is-danger">First Name Error !</p>
      </div>

      <div class="field">
        <label class="label">Last Name</label>
        <div class="control">
          <input myAwesomeError="input" [state]="getError('lastName')" name="lastName" type="text" placeholder="Sanchez" formControlName="lastName" required minlength="2" maxlength="16">
        </div>
        <p *ngIf="getError('lastName')" class="help is-danger">Last Name Error !</p>
      </div>

      <div class="field">
        <label class="label">Gender</label>
        <div class="control">
          <div [myAwesomeError]="['select', 'is-fullwidth']" [state]="getError('gender')">
            <select name="gender" formControlName="gender" required>
              <option value="" disabled>Unknown</option>
              <option value="M">Male</option>
              <option value="F">Female</option>
            </select>
          </div>
        </div>
        <p *ngIf="getError('gender')" class="help is-danger">Gender Error !</p>
      </div>

      <div class="field">
        <label class="label">Year Old</label>
        <div class="control">
          <input myAwesomeError="input" [state]="getError('yearOld')" name="yearOld" type="number" placeholder="70" min="1" max="99" formControlName="yearOld">
        </div>
        <p *ngIf="getError('yearOld')" class="help is-danger">Year Old Error !</p>
      </div>

      <div myRow>
        <div myColumn [size]="6" [offset]="3">
          <button myButton color="success" [filled]="true" type="submit" [disabled]="!profileForm.valid">
            <strong>Save</strong>
          </button>
        </div>
      </div>
    </form>
  </div>

  <notification></notification>
</div>