<section class="section">
  <div class="container">
    <div myRow>
      <div myColumn [size]="6" [offset]="3">
        <div class="card">
          <div class="card-content">
            <form [formGroup]="registerForm" (ngSubmit)="handleSubmit()">
              <div class="field">
                <label class="label">Login</label>
                <div class="control">
                  <input myAwesomeError="input" [state]="getError('login')" name="login" type="text" placeholder="Pickle" formControlName="login" required minlength="4" maxlength="32">
                </div>
                <p *ngIf="getError('login')" class="help is-danger">Login Error !</p>
              </div>

              <div class="field">
                <label class="label">Password</label>
                <div class="control">
                  <input myAwesomeError="input" [state]="getError('password')" name="password" type="password" placeholder="**********" formControlName="password" required minlength="6">
                </div>
                <p *ngIf="getError('password')" class="help is-danger">Password Error !</p>
              </div>

              <div class="field">
                <label class="label">Repeat Password</label>
                <div class="control">
                  <input myAwesomeError="input" [state]="getError('repeatPassword', 'password')" name="repeatPassword" type="password" placeholder="**********" formControlName="repeatPassword" required minlength="6">
                </div>
                <p *ngIf="getError('repeatPassword', 'password')" class="help is-danger">Repeat Password Error !</p>
              </div>

              <div class="field">
                <label class="label">Email</label>
                <div class="control">
                  <input myAwesomeError="input" [state]="getError('email')" name="email" type="email" placeholder="rick.sanchez@pm.me" formControlName="email" required>
                </div>
                <p *ngIf="getError('email')" class="help is-danger">Email Error !</p>
              </div>

              <div class="field">
                <label class="label">First Name</label>
                <div class="control">
                  <input myAwesomeError="input" [state]="getError('firstName')" name="firstName" type="text" placeholder="Rick" formControlName="firstName" required minlength="2" maxlength="16">
                </div>
                <p *ngIf="getError('firstName')" class="help is-danger">First Name Error !</p>
              </div>

              <div class="field">
                <label class="label">Last Name</label>
                <div class="control">
                  <input myAwesomeError="input" [state]="getError('lastName')" name="lastName" type="text" placeholder="Sanchez" formControlName="lastName" required minlength="2" maxlength="16">
                </div>
                <p *ngIf="getError('lastName')" class="help is-danger">Last Name Error !</p>
              </div>

              <div class="field">
                <label class="label">Gender</label>
                <div class="control">
                  <div [myAwesomeError]="['select', 'is-fullwidth']" [state]="getError('gender')">
                    <select name="gender" formControlName="gender" required>
                      <option value="" disabled>Unknown</option>
                      <option value="M">Male</option>
                      <option value="F">Female</option>
                    </select>
                  </div>
                </div>
                <p *ngIf="getError('gender')" class="help is-danger">Gender Error !</p>
              </div>

              <div class="field">
                <label class="label">Year Old</label>
                <div class="control">
                  <input myAwesomeError="input" [state]="getError('yearOld')" name="yearOld" type="number" placeholder="70" min="1" max="99" formControlName="yearOld">
                </div>
                <p *ngIf="getError('yearOld')" class="help is-danger">Year Old Error !</p>
              </div>

              <div myRow>
                <div myColumn [size]="6" [offset]="3">
                  <button myButton color="primary" [filled]="true" type="submit" [disabled]="!registerForm.valid">
                    <strong>Register</strong>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <notification></notification>
</section>
